
[Unit]
Description=Python wiegand keypad reader

[Install]
WantedBy=multi-user.target

[Service]
WorkingDirectory=/home/pi/keypad_wpi/app
ExecStart=/usr/bin/python /home/pi/keypad_wpi/app/reader.py
Restart=always
User=pi
