[Unit]
Description=Python app for Lock Control Schedule
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
WorkingDirectory=/home/pi/keypad_wpi/app
ExecStart=/usr/bin/python /home/pi/keypad_wpi/app/schedule.py
Restart=always
User=pi
