
[Unit]
Description=Python api for Wiegand Web
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/usr/local/bin/uwsgi --ini /home/pi/keypad_wpi/app/app.ini
Restart=on-failure
User=pi
